<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello! It`s my page</title>
</head>
<body>
Hello Man!
<p><a href="/first/goodbye">Say good bye:)</a></p>
<p><a href="/first/calculator?a=14&b=15&c=addition">Let`s count something! For ex a=14, b=15 and we need addition</a></p>
<p><a href="/first/calculator?a=14&b=15&c=multiplication">Let`s count something! For ex a=14, b=15 and we need multiplication</a></p>
<p><a href="/first/calculator?a=14&b=15&c=substruction">Let`s count something! For ex a=14, b=15 and we need substruction</a></p>
<p><a href="/first/calculator?a=14&b=15&c=division">Let`s count something! For ex a=14, b=15 and we need division</a></p>
<p><a href="/exit">Oh, exit sir!</a></p>
<p><a href="/first/hello?name=Maks&surname=Goltsov">Hello! Sir Maks Goltsov!</a></p>
<p th:text="${message}">
<p>Surname - </p>
</body>
</html>